// colors
$background-color: #F5F6F7;
$cloud-color-1: #FADCD9;
$cloud-color-2: #F6A5A5;
$cloud-color-3: #EF7A7B;
$button-color: #3C3C3C;

// font size
$header-font-size: 48px;
$subtitle-font-size: 20px;
$button-font-size: 16px;
$links-font-size: 14px;

// font-family
$font-montserrat: 'Montserrat', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xlarge: 32px;

// Breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
